<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<script>	
var o_url = 'http://192.168.1.117:8085/appone/json/';

                $.ajax({
                    type: 'GET',
                    url: o_url,
                    success: function( reply ){
                    //console.log( reply );
                        
                        
                    var o = JSON.parse( reply );
                    console.log( o );
                    }
                });

console.log( 'hi' );

</script>
